/* reset-css */

* {
	margin: 0;
	padding: 0;
	color: #666;
	text-decoration: none;
	list-style-type: none;
	box-sizing: border-box;
	font-family: 'Noto Sans KR', sans-serif;
	-webkit-touch-callout: none;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 16px;
}

input[type='text'],
input[type='password'] {
	-webkit-appearance: none;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	width: 100%;
	padding: 10px 8px;
	font-size: 16px;
}

input:focus {
	outline: none;
}

input::-ms-input-placeholder {
	color: #999;
}
input::-webkit-input-placeholder {
	color: #999;
}
input::-moz-placeholder {
	color: #999;
}

input[type='text']::-ms-clear {
	display: none;
	width: 0;
	height: 0;
}
input[type='text']::-ms-reveal {
	display: none;
	width: 0;
	height: 0;
}

input[type='search']::-webkit-search-decoration {
	display: none;
}
input[type='search']::-webkit-search-cancel-button {
	display: none;
}
input[type='search']::-webkit-search-results-button {
	display: none;
}
input[type='search']::-webkit-search-results-decoration {
	display: none;
}

button {
	-webkit-appearance: none;
	border: none;
}

select {
	width: 100%;
	padding: 8px;
	border: 1px solid #e5e5e5;
	border-radius: 5px;
	-moz-appearance: none; /* Firefox */
	-webkit-appearance: none; /* Safari and Chrome */
	appearance: none;
	font-size: 16px;
	background-image: url(../img/ic-select.svg);
	background-repeat: no-repeat;
	background-position: 96% 50%;
	line-height: 150%;
	background-color: #fff;
	color: #999;
}
select:focus {
	outline: none;
}
select:disabled {
	background-color: #fff;
}
/* common */
.wrap-page {
	width: 100vw;
	padding: 5vh 7vw;
	text-align: center;
}
.wrap-page-period {
	width: 100vw;
	min-height: 100vh;
	padding: 5vh 7vw;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrap-page-list {
	width: 100vw;
	min-height: calc(100vh - 84px);
	padding: 5vh 5vw;
	position: absolute;
	top: 84px;
	text-align: center;
	z-index: 997;
}

.wrap-page-rating {
	width: 100vw;
	min-height: calc(100vh - 293px);
	position: absolute;
	top: 310px;
	text-align: center;
	z-index: 997;
	padding-bottom: 40px;
}

.wrap-page-rating-done {
	width: 100vw;
	min-height: calc(100vh - 293px);
	position: absolute;
	top: 248px;
	text-align: center;
	z-index: 997;
}
.bg-gray {
	background-color: #f3f3f3;
}

/* button */
.btn-blue {
	width: 100%;
	background-color: #303164;
	color: #fff;
	font-size: 18px;
	padding: 12px 0;
	border-radius: 5px;
	font-weight: 700;
}

.btn-blue-line {
	width: 100%;
	font-size: 18px;
	padding: 12px 0;
	border-radius: 5px;
	border: 1px solid #2e3092;
	color: #2e3092;
	background-color: #fff;
	font-weight: 700;
}

.btn-top {
	position: fixed;
	bottom: 20px;
	right: 20px;
	z-index: 998;
}
.btn-top img {
	width: 52px;
}

/* login */
.logo {
	padding: 50px 0 40px 0;
}
.txt-login {
	padding: 10px 0 20px 0;
	font-size: 14px;
	color: #979797;
}
.save-id {
	text-align: left;
	padding: 10px 0 20px 0;
}
.save-id input[type='checkbox'] {
	display: none;
}
.save-id label {
	display: block;
	width: fit-content;
}

.save-id label .id-chk {
	padding-left: 22px;
}
.save-id input[type='checkbox'] + label .id-chk {
	background: url('../img/ic-chk-off.svg') no-repeat;
	background-size: 16px;
	background-position: 0 0;
	cursor: pointer;
}

.save-id input[type='checkbox']:checked + label .id-chk {
	background: url('../img/ic-chk-on.svg') no-repeat;
	background-size: 16px;
	background-position: 0 0;
}

.wrap-login select,
.wrap-login input {
	margin-bottom: 10px;
}

/* info */
.header-info {
	width: 100vw;
	background-color: #e8ebf6;
	text-align: center;
	padding-top: 40px;
	height: 84px;
}
.header-info h1 {
	color: #2e3092;
	font-size: 22px;
	font-weight: 700;
}

.txt-info {
	text-align: left;
}
.txt-info h2 {
	font-size: 18px;
	color: #000;
	padding-bottom: 10px;
}
.txt-info p {
	padding-bottom: 20px;
	color: #333;
	line-height: 150%;
	font-size: 17px;
}

.bottom-info {
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	text-align: center;
	padding: 0 7vw 10vw;
}
.bottom-info p {
	text-align: left;
	height: 80px;
	line-height: 140%;
	letter-spacing: -0 0.5px;
}
.paging {
	text-align: center;
	padding-bottom: 100px;
}
.paging5 {
	text-align: center;
	padding-bottom: 20px;
}

/* list */

.header-list {
	width: 100vw;
	background-color: #1e1f4f;
	text-align: center;
	padding-top: 40px;
	height: 84px;
	position: relative;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
}

.header-list h1 {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
}
.header-list span.open {
	position: absolute;
	right: 5vw;
	bottom: 20px;
	width: 24px;
	height: 24px;
}
.header-list span.back {
	position: absolute;
	left: 5vw;
	bottom: 2.5vh;
	width: 24px;
	height: 24px;
}
.wrap-page-list h2 {
	text-align: left;
}
.wrap-list {
	padding: 10px 0;
}
.wrap-list ul li {
	margin-bottom: 20px;
}
.wrap-list ul li:last-child {
	margin: 0;
}
.wrap-list .box-list {
	width: 100%;
	background-color: #fff;
	padding: 16px;
	min-height: 186px;
	border-radius: 10px;
	position: relative;
}
.wrap-list .box-list-done {
	width: 100%;
	background-color: #fff;
	padding: 16px;
	min-height: 150px;
	border-radius: 10px;
	position: relative;
}

.box-list-done .wrap-score {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 16px;
	bottom: 16px;
}
.wrap-person {
	display: flex;
	flex-direction: column;
}

.wrap-person span {
	width: fit-content;
	color: #000;
}
.wrap-person .before {
	border: 1px solid #2ea7ff;
	padding: 3px 10px;
	border-radius: 15px;
	color: #2ea7ff;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 3px;
}
.wrap-person .doing {
	padding: 4px 11px;
	border-radius: 15px;
	color: #2ea7ff;
	background: rgba(46, 167, 255, 0.15);
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 3px;
}
.wrap-person .done {
	padding: 4px 11px;
	border-radius: 15px;
	color: #fff;
	background: #000;
	font-size: 13px;
	font-weight: 700;
	margin-bottom: 3px;
}
.wrap-person .name {
	padding: 8px 0 4px;
}
.wrap-person .name strong {
	color: #000;
	font-size: 17px;
}
.wrap-person .team,
.wrap-person .company {
	font-size: 15px;
	font-weight: 400;
	padding: 2px 0;
}
.wrap-score {
	display: flex;
	flex-direction: column;
	position: absolute;
	right: 16px;
	bottom: 64px;
}
.wrap-score .tit-score {
	font-size: 12px;
	color: #afafaf;
	padding-bottom: 5px;
}
.wrap-score .num-score {
	color: #000;
	font-weight: 700;
	font-size: 17px;
}
.box-list button {
	background-color: #2ea7ff;
	padding: 12px 0;
	color: #fff;
	width: 100%;
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	border-radius: 0 0 10px 10px;
	font-weight: 700;
	font-size: 17px;
}

/* 팝업 */
.modal {
	display: none;
}
.wrap-layerpop {
	position: fixed;
	z-index: 9999;
	background: rgba(0, 0, 0, 0.7);
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	text-align: center;
}
.wrap-layerpop::before {
	content: '';
	display: inline-block;
	height: 100%;
	vertical-align: middle;
}

.wrap-user {
	display: inline-block;
	vertical-align: middle;
	width: 68vw;
	background: #fff;
	text-align: center;
	padding: 20px;
	border-radius: 10px;
	position: relative;
}

.wrap-user button {
	width: 100%;
	position: absolute;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: #2ea7ff;
	color: #fff;
	padding: 12px 0;
	border-radius: 0 0 10px 10px;
	font-weight: 700;
}

.pop-content {
	padding: 36px 0;
}
.pop-content p,
.pop-content strong {
	text-align: left;
	padding-bottom: 20px;
	line-height: 150%;
	font-size: 18px;
	line-height: 140%;
	color: #000;
}
.pop-content strong {
	color: #2ea7ff;
}
.pop-close {
	position: absolute;
	right: 16px;
	top: 16px;
	width: 24px;
	height: 24px;
}
.status {
	padding-bottom: 20px;
}
.status .num {
	font-size: 18px;
	font-weight: 700;
	color: #f47805;
}
.line {
	background: url(../img/line.svg) no-repeat 50% 100%;
	width: 100%;
	height: 1px;
}
.user {
	padding-top: 30px;
}
.user,
.version {
	display: flex;
	justify-content: space-between;
	padding-bottom: 10px;
}

.user .tit,
.version .tit {
	color: #afafaf;
	font-size: 14px;
}

.user .content,
.version .content {
	color: #000;
	font-size: 14px;
}

/* rating */
.wrap-header-rating {
	width: 100vw;
	background-color: #1e1f4f;
	text-align: center;
	position: relative;
	left: 0;
	right: 0;
	top: 85px;
	z-index: 997;
	padding: 10px 5vw 20px;
	transition: top 0.5s;
}

.header-rating {
	width: 100vw;
	background-color: #1e1f4f;
	text-align: center;

	position: relative;
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	z-index: 999;
	padding: 40px 5vw 20px;
}

.header-rating h1 {
	color: #fff;
	font-size: 22px;
	font-weight: 700;
}

.header-rating span.back {
	position: absolute;
	left: 5vw;
	top: 42px;
	width: 24px;
	height: 24px;
}

.wrap-rating-person {
	display: flex;
	flex-direction: column;
	text-align: left;
	background-color: #303164;
	border-radius: 10px;
	width: 100%;
	padding: 16px;
}

.wrap-rating-person span {
	width: fit-content;
	color: #fff;
}

.wrap-rating-person .tit {
	color: #8283b5;
	font-size: 13px;
	font-weight: 700;
	padding-bottom: 8px;
}

.wrap-rating-person .name {
	font-size: 16px;
	padding-bottom: 4px;
	display: flex;
	align-items: center;
}
.wrap-rating-person .name strong {
	color: #fff;
	font-size: 20px;
	padding-right: 6px;
}

.wrap-rating-person .name .finish {
	border: 1px solid #f5ff81;
	font-size: 12px;
	color: #f5ff81;
	font-weight: 600;
	padding: 2px 5px;
	border-radius: 15px;
	margin-left: 6px;
}

.wrap-rating-person .team,
.wrap-rating-person .company {
	font-size: 15px;
	padding-bottom: 4px;
}

.wrap-rating-btn {
	display: flex;
	justify-content: space-between;
	margin-top: 20px;
}
.wrap-rating-btn button {
	background-color: transparent;
	border: 1px solid #fff;
	border-radius: 5px;
	color: #fff;
	width: 48%;
	padding: 11px 0;
	font-weight: 700;
	font-size: 17px;
}

.info-rating {
	padding: 20px 5vw;
}

.info-rating p {
	font-size: 15px;
	text-align: left;
	color: #979797;
}

.wrap-question {
	padding-bottom: 20px;
}

.wrap-q {
	padding: 20px 5vw;
	background-color: #f3f3f3;
	text-align: left;
}
.wrap-q .category {
	font-size: 14px;
	border-radius: 15px;
	border: 1px solid #e5e5e5;
	background-color: #fff;
	color: #000;
	text-align: center;
	display: inline-block;
	padding: 4px 11px;
	font-weight: 600;
	min-width: 56px;
}
.wrap-q p {
	font-size: 17px;
	text-align: left;
	color: #000;
	padding-top: 10px;
	line-height: 140%;
}
.wrap-a {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: 20px 5vw;
}
.wrap-a-txt {
	padding: 20px 5vw;
}

.wrap-a-txt textarea {
	width: 100%;
	border: none;
	height: 150px;
	font-size: 17px;
}

.wrap-a .exam {
	width: 33%;
	margin-bottom: 6px;
	text-align: left;
}
.wrap-a .exam label {
	font-size: 17px;
	letter-spacing: -0.9px;
}
.wrap-a input[type='radio'] {
	display: none;
}
.wrap-a input[type='radio'] + label span::before {
	display: block;
	position: absolute;
	content: '';
	border-radius: 100%;
	height: 10px;
	width: 10px;
	top: 2px;
	left: 2px;
}

.wrap-a input[type='radio'] + label span {
	display: inline-block;
	border-radius: 50%;
	width: 16px;
	height: 16px;
	top: 4px;
	border: 1px solid #999;
	transition: 0.2s all linear;
	margin-right: 8px;
	cursor: pointer;
	position: relative;
}

.wrap-a input[type='radio']:checked + label span {
	border: 1px solid #2ea7ff;
}

.wrap-a input[type='radio']:checked + label span::before {
	background-color: #2ea7ff;
}

/* period */
.wrap-page-period {
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
}
.wrap-period {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrap-period img {
	width: 50%;
	padding-bottom: 30px;
}
.wrap-period p {
	font-size: 14px;
	line-height: 140%;
	text-align: center;
	color: #000;
}

/* mediaquery */

@media screen and (min-width: 320px) and (max-width: 359px), screen and (max-height: 359px) and (orientation: landscape) {
	.bottom-info p {
		text-align: left;
		height: 80px;
		line-height: 140%;
		letter-spacing: -0 0.5px;
		font-size: 14px;
	}
	.paging {
		text-align: center;
		padding-bottom: 90px;
	}
	.paging5 {
		text-align: center;
		padding-bottom: 10px;
	}

	.wrap-q p {
		font-size: 15px;
		text-align: left;
		color: #000;
		padding-top: 10px;
		line-height: 140%;
	}

	.wrap-a .exam label {
		font-size: 15px;
		letter-spacing: -0.7px;
	}

	.wrap-a-txt textarea {
		width: 100%;
		border: none;
		height: 100px;
		font-size: 15px;
	}
	.wrap-rating-person span {
		width: fit-content;
		color: #fff;
	}

	.wrap-rating-person .tit {
		color: #8283b5;
		font-size: 13px;
		font-weight: 700;
		padding-bottom: 8px;
	}

	.wrap-rating-person .name {
		font-size: 16px;
		padding-bottom: 4px;
		display: flex;
		align-items: center;
	}
	.wrap-rating-person .name strong {
		color: #fff;
		font-size: 18px;
		padding-right: 6px;
	}
	.wrap-rating-btn button {
		background-color: transparent;
		border: 1px solid #fff;
		border-radius: 5px;
		color: #fff;
		width: 48%;
		height: 40px;
		font-weight: 700;
		font-size: 16px;
	}
}

@media screen and (min-width: 280px) and (max-width: 319px) {
	.wrap-a .exam {
		width: 44%;
		margin-bottom: 6px;
		text-align: left;
	}
}
